### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# dependencies
node_modules

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

# logs
npm-debug.log
package-lock.json
*.css.map
logs
*.log


### Nuxtjs ###
# Nuxt build
.nuxt

# Nuxt generate
dist

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
