@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

@import "variable";
@import "fonts";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: $font-default;
  position: relative;
}

#app {
  font-family: $font-default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-app {
  min-height: 100vh;
  background-color: $color-background;
}

.icon {
  :hover {
    color: black;
  }
}

.project {
  &--card {
    background-color: $color-white !important;


    &:hover {
      background-color: $color-active !important;
      box-shadow: 0 8px 27px -10px #555353;

      .project--card__image--scale {
        transform: scale(1.1);
        transition: transform 1.5s;
        transform-origin: center;
      }

    }

    &__image {
      overflow: hidden;
      background-color: $color-background-second;
    }
  }
}