@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:wght@300;400;700;900&display=swap");

$font-title: "Merriweather", serif;
$font-default: "Be Vietnam Pro", sans-serif;
$white: white;
$blue-dark1: #8e96a8;
$blue-dark2: #0d131c;
$blue-dark3: #1f2f4e;
$pink: #e91e6e;
$yellow: yellow;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: $font-default;
}

.ft {
  font-family: $font-title !important;
}

.fd {
  font-family: $font-default !important;
}

.letter-spc-1 {
  letter-spacing: 0.2em !important;
}

h1 {
  font-size: 3rem;
}

.hero {
  height: 100vh;
  display: flex;

  &--subtitle {
    font-family: $font-title !important;
  }
  &--sosmed {
    &__icon {
      color: $blue-dark1 !important;
      &:hover {
        color: $white !important;
      }
    }
  }
  &--button {
    position: absolute !important;
    bottom: 2rem;
    right: 2rem;
  }
}

.project {
  background-color: $blue-dark2;

  .marginY {
    margin-top: 20rem;
    margin-bottom: 10rem;
  }

  &--title {
    font-size: 0.85rem;
    &__name {
      font-size: 0.6rem;
    }
  }

  &--card {
    background-color: $blue-dark3 !important;

    &:hover {
      background-color: $pink !important;
      color: $yellow !important;
      font-weight: bold;
    }

    &--image {
      &__wrapper {
        width: 100%;
        height: 300px;
        background-color: $blue-dark2;
      }
    }
  }
}
