@import "fonts";

$white: white;
$grey-light1: #ccd6f6;
$grey-light2: #9ea7c6;
$blue-dark1: #1f2f4e;
$blue-dark2: #0a192f;

$pink: #e91e6e;
$yellow: yellow;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: $font-main;
}

.app {
  background-color: $blue-dark2 !important;
  color: $grey-light2 !important;
}

.text-light {
  color: $grey-light1;
}

.font {
  &--main {
    font-family: $font-main !important;
  }
}

.ls {
  &--s {
    letter-spacing: 0.1em !important;
  }
  &--m {
    letter-spacing: 0.2em !important;
  }
}

h1 {
  font-size: 2.5rem;
  @media (max-width: 425px) {
    font-size: 5vmax;
  }
}

.hero {
  height: 100vh;
  display: flex;

  &--sosmed {
    &__icon {
      color: $blue-dark1 !important;
      &:hover {
        color: $grey-light1 !important;
      }
    }
  }
  &--button {
    position: absolute !important;
    bottom: 2rem;
    right: 2rem;
  }
}

.project {
  background-color: $blue-dark2;

  &__header {
    background-image: url("@/static/txtr-natural.png");
    background-repeat: repeat;
    position: absolute;
    height: 30rem;
    top: 0;
    width: 100%;
  }

  .marginY {
    margin-top: 13rem;
    margin-bottom: 10rem;
  }

  &--title {
    font-size: 0.85rem;
    &__name {
      font-size: 0.6rem;
    }
  }

  &--card {
    background-color: $blue-dark1 !important;

    &:hover {
      background-color: $pink !important;
      color: $yellow !important;
    }

    &--image {
      &__wrapper {
        width: 100%;
        height: 300px;
        background-color: $blue-dark1;
      }
    }
  }
}

.empty {
  background-color: $blue-dark1;
  height: 100vh;
}
